//Abstract files
@import "./architectures/abstract/variables", "./architectures/abstract/mixins", "./architectures/abstract/functions";

//Base files
@import "./architectures/base/base", "./architectures/base/reset",  "./architectures/base/typography";

//Component files
@import "./architectures/components/header", "./architectures/components/footer";

//Layout files
// @import "./layout/";

//Pages files
@import "./architectures/pages/landing_page", "./architectures/pages/success_page", "./architectures/pages/pages";

//Theme files
@import "./architectures/theme/media_queries", "./architectures/theme/utilities";

