<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <footer class="footer">
    <div class="top-float">
      <div>
        <h3>Still Have Questions?</h3>
        <p>Can’t find answer to what you’re looking for?, Please chat our friendly  team</p>
      </div>

      <button>Get In Touch</button>
    </div>

    <div class="footer__container">
      <div class="row">
        <div class="col">
          <h4>About</h4>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">In Press</a></li>
          </ul>
        </div>
        <div class="col">
          <h4>Support</h4>
          <ul>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Online Chat</a></li>
            <li><a href="#">Whatsapp</a></li>
            <li><a href="#">Telegram</a></li>
            <li><a href="#">Ticketing</a></li>
          </ul>
        </div>
        <div class="col">
          <h4>FAQ</h4>
          <ul>
            <li><a href="#">Account</a></li>
            <li><a href="#">Claim Process</a></li>
            <li><a href="#">returns</a></li>
            <li><a href="#">order status</a></li>
            <li><a href="#">payment options</a></li>
          </ul>
        </div>
        <div class="col">
          <h4>Company</h4>
          <ul>
            <li><a href="#">Teams</a></li>
            <li><a href="#">Articles</a></li>
            <li><a href="#">Resources</a></li>
            <li><a href="#">Consulting</a></li>
          </ul>
        </div>
        <div class="col">
          <h4>Social</h4>
          <ul>
            <li><a href="#">Quick Access</a></li>
            <li><a href="#">Email Us</a></li>
            <li><a href="#">Whatsapp</a></li>
            <li><a href="#">Instagram</a></li>
          </ul>
        </div>
      </div>
  
      <div class="row__bottom">
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Privacy policy</a></li>
          <li><a href="#">Sitemap</a></li>
          <li><a href="#">Terms of Use</a></li>
        </ul>
  
        <p>© 2000-2021, All Rights Reserved</p>
      </div>
    </div>
  </footer>
</body>
</html>