<!-- @format -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Maya | Insurance</title>
        <link rel="stylesheet" href="./css/main.css" />
    </head>
    <body>
        <!-- Application successful starts -->
        <section class="hero">
            <div class="container grid">
                <div class="hero-content">
                    <h1 class="hero-title"
                        ><span class="highlgt">Protect</span> Your Pet with Maya
                        Insurance</h1
                    >
                    <p class="hero-txt"
                        >Secure comprehensive health coverage for your furry
                        friend. Find a perfect plan for your budget and protect
                        your pet today.</p
                    >

                    <a href="" class="btn heroBtn">Get Started</a>
                </div>
                <div class="heroImg">
                    <img src="./img/dogs-collage.png" alt="dog-collage" />
                </div>
            </div>
        </section>
        <!-- Application successful ends -->
    </body>
</html>
