<!-- @format -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Maya | Insurance</title>
        <link rel="stylesheet" href="./css/main.css" />
    </head>
    <body>
        <!-- Application successful starts -->
        <section class="hero">
            <div class="container grid">
                <div class="hero-content">
                    <h1 class="hero-title"
                        ><span class="highlgt">Protect</span> Your Pet with Maya
                        Insurance</h1
                    >
                    <p class="hero-txt"
                        >Secure comprehensive health coverage for your furry
                        friend. Find a perfect plan for your budget and protect
                        your pet today.</p
                    >

                    <a href="" class="btn heroBtn">Get Started</a>
                </div>
                <div class="heroImg">
                    <img src="./img/dogs-collage.png" alt="dog-collage" />
                </div>
            </div>
        </section>
        <!--whyChooseSection -->
        <section class="whyChoose section">
            <div class="container">
                <div class="whyUs-content">
                    <h2 class="whyUs-title"
                        ><span class="highlght">Why</span> Choose Us</h2
                    >
                    <p class="whyUs-txt">
                        At Maya Insurance we understand that choosing the right
                        pet insurance can be a tough decision. That why we offer
                        coverage, affordable and exceptional customer services
                        set us apart from competition.
                    </p>
                </div>
                <div class="whyUs-card grid">
                        <div class="card">
                            <img
                                src="../img/beat-check-icon.png"
                                alt="beat-check"
                            />
                            <div class="cardBody">
                                <h3 class="whyCard-title"
                                    >Affordabel and Comprehensive Coverage</h3
                                >
                                <p class="whyCard-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. At esse, eligendi excepturi doloribus, quos perspiciatis aspernatur quo dolorum iure ea cumque rerum perferendis autem ipsum distinctio explicabo quaerat minima dolores. </p>
                            </div>
                        </div>
                        <div class="card">
                            <img
                                src="../img/meter-icon.png"
                                alt="speed-meter-icon"
                            />
                            <div class="cardBody">
                                <h3 class="whyCard-title"
                                    >Fast and Easy Claim process</h3
                                >
                                <p class="whyCard-txt">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam rerum in ipsam cupiditate! Nulla sint minima neque ipsam reprehenderit asperiores corrupti illo ut. Esse modi placeat earum adipisci quae saepe.</p>
                            </div>
                        </div>
                        <div class="card">
                            <img
                                src="../img/feet-icon.png"
                                alt="vent-feet-icon"
                            />
                            <div class="cardBody">
                                <h3 class="whyCard-title"
                                    >Dedicated Veterinary Support Team</h3
                                >
                                <p class="whyCard-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ipsa inventore dolore eos veritatis mollitia fuga sint provident aliquid. Placeat rem odio laboriosam similique officiis odit ea vel illo labore. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Application successful ends -->
    </body>
</html>
