<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/main.css">
</head>
<body class="signup">
  <header>
    <button class="signup__button">
      <p>English</p>
      <img src="../img/lang.svg" alt="">
    </button>
  </header>
  <main>
    <section>
      <h2>Give Your Pet The Care They Deserve.</h2>
      <p>GET STARTED TODAY</p>
    </section>
    <form action="">
      <h2><span class="accent">Maya</span> Insurance</h2>
      <div>
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Enter your email here">
      </div>
      <div>
        <label for="email">Password</label>
        <input type="text" name="email" placeholder="Enter your password here">
      </div>
      <div>
        <label for="email">Confirm Password</label>
        <input type="text" name="email" placeholder="Confirm your password here">
      </div>
      <div class="sign-button">
        <button>Sign Up</button>
        <div>
          <img class="line" src="../img/line.svg" alt="">
          <p>OR</p>
          <img class="line" src="../img/line.svg" alt="">
        </div>
        <button class="sign">
          <img class="google" src="../img/google.svg" alt="">
          <p>Sign Up with Google</p>
        </button>
      </div>
      <p class="login">Already have an account? <span class="accent">Log in</span></p>
    </form>
  </main>
</body>
</html>