.signup {
  color: $white;
  height: 100%;
  width: 100%;
  max-width: $maxWidth;
  margin: auto;
  background-color: #bbb;
  padding: 6rem 2rem;
  position: relative;
  font-family: $poppins;

  &__button {
    position: absolute;
    top: 1.5rem;
    right: 0.5rem;
    width: 8.5rem;
    border: none;
    background-color: transparent;
    @include flex(row, flex-start, flex-start, 8px);

    img {
      width: 1rem;
      height: 1rem;
    }
  }

  main {
    @include flex(row, space-between, flex-start, 0);

    section {
      @include flex(column, flex-start, flex-start, 2.5rem);
      max-width: 24rem;

      h2 {
        font-size: 3rem;
        font-weight: 700;
      }

      p {
        font-family: $montserrat;
        font-size: 1.25rem;
        font-weight: 600;
      }
    }

    form {
      color: black;
      width: 65%;
      max-width: 55.125rem;
      padding: 3.5rem 6.5rem;
      border-radius: 2.5rem;
      background: rgba(255, 255, 255, 0.80);
      @include flex(column, flex-start, flex-start, 0.5rem);

      a {
        color: black;
      }

      h2 {
        margin-bottom: 4.5rem;
      }

      label {
        font-family: $montserrat;
      }

      div {
        width: 100%;
        @include flex(column, center, flex-start, 0.5rem);

        input {
          padding: 1rem 2rem;
          border-radius: 2.5rem;
          border: 1px solid #2CAAC2;
          width: 100%;
        }

        button {
          color: $white;
          padding: 1.125rem 0.625rem;
          background-color: $primary;
          border: none;
          border-radius: 2.5rem;
          align-self: stretch;
          font-family: $poppins;
        }
      }

      .sign-button {
        @include flex(column, center, center, 1.5rem);
        margin-block: 2.5rem 1.5rem;

        div {
          @include flex(row, center, center, 1.5rem);

          p {
            font-family: $montserrat;
            font-weight: 500;
          }

          .line {
            width: 1.5rem;
            height: 2px;
          }
        }
        
        .sign {
          @include flex(row, center, center, 1rem);
          background-color: transparent;
          border: 1px solid  #000;
          color: #000;
        }

        p {
          margin: 0;
        }
      }

      .accent {
        color: $primary;
      }

      .google {
        width: 24px;
        height: 24px;
      }

      .login {
        align-self: center;
      }
    }

  }
}


// RESPONSIVENESS
$breakpoint-mobile: 568px;
@media (min-width: $breakpoint-mobile) {
  .signup main form {
    width: 100%;
    padding: 5rem;
    margin-top: 2rem;
  }
}