.container{
    width: 100%;
    max-width: $maxWidth;
    margin: auto;
    padding: 0 30px;
}

.section{
    padding: 50px 0;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:30px;
}

.highlgt{
    color:$primary;
}

.btn{
    padding: 15px 20px;
    border: 0;
    border-radius:50px;
    background: $primary;
}

.card {
    padding: 45px;
    background:#fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.11);
}

%btn {
    display: inline-block;
    padding: 15px 20px;
    border-radius: 50px;
    border: 0;
}
